.container {
    background-color: #0A1428;
    
    height: 150%;
    width: 80vw;

    border-style: solid;
    border-color: #785A28;
    
    display:grid;
    justify-content: center;
    align-items:center;
}
.description {
    color:#C89B3C;
    font-size: 1.1vw;
    text-align: center;
    
    margin: -50px;
}
@media (max-width: 768px) {
    .description{
        font-size: 3.2vw;
    }
}